<div class="main lessons-index">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1><strong>Learn, Grow, change the world!</h1>
    <p>Learn new skills on your own terms!</p>
  <div class="container2">
  <%= form_with url: lessons_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a lesson"
  %>
  <%= submit_tag "Search", class: "btn btn--orange" %>
  <% end %>
  </div>
  </div>
</div>


<div class="container3">
  <div class="cards mt-4 mb-4" >
    <% @lessons.each do |lesson| %>
        <%= link_to lesson_path(lesson), class: "card-product" do %>
          <%= cl_image_tag lesson.photo.key, height: 300, width: 450, crop: :fill %>
          <div class="card-product-infos">
            <h2><%= lesson.name %></h2>
            <p><%= lesson.description %></p>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
