<div class="main lessons-index">
  <div class="container">
    <div class="lessons-show-item">
      <h1><%= @lesson.name %></h1>
      <br>
        <p>Description:</p>
        <p><%= @lesson.description %></p>
      <div class="post-time">
        <p style="font-size:50%"><%= @lesson.created_at %></p>
      </div>
      <br>
      <h3>Scheduled Sessions</h3>
        <ul>
         <% @lesson.schedules.each do |schedule| %>
         <li><strong>Date and Time:</strong> <%= schedule.time %> Duration:<%= schedule.duration %></li>
         <% end %>
        </ul>
        <%= link_to "Create Schedule", new_lesson_schedule_path(@lesson) %>
    </div>
  </div>
</div>
