<!DOCTYPE html>
<html>
  <head>
    <title>Teachers On Demand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Teachers On Demand", "/") %>
      </div>
      <ul class="header-menus">
      <% if user_signed_in? %>
        <li>
          <%= link_to("Lessons", "/lessons") %>
        </li>
         <li>
          <%= link_to("Create a lesson", "/lessons/new") %>
        </li>
        <li>
          <%= link_to("Logout", destroy_user_session_path, data: { turbo_method: :delete} ) %>
        </li>
      <% else %>
        <li>
          <%= link_to("Lessons", "/lessons") %>
        </li>
         <li>
          <%= link_to("Create a lesson", "/lessons/new") %>
        </li>
        <li>
          <%= link_to("Login", new_user_session_path) %>
        </li>
        <li>
          <%= link_to "Sign-up", new_user_registration_path %>
        </li>
      <% end %>
      </ul>
    </header>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
